body{
    display: grid;
    grid-template-columns: ;
    grid-auto-rows: ;
    background-color: white;
    font-family: Comic Sans MS;
}

.text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0em;
}

h1{
    width: 12em;
    display: flex;
    flex-wrap: wrap;
    grid-column: ;
    grid-row: ;
    grid-row-end: ;
    font-size: 75px;
    text-align: center;
    color: rgb(250, 131, 203);
    text-shadow: 1px 1px 5px rgb(0, 0, 0), 0 0 10px rgb(95, 0, 100), 0 0 7.5px rgb(51, 0, 50);
    padding: 10px;
    border: ;
    margin: 0em 0em 1em 0em;
}

.instructions{
    width: 12em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: ;
    grid-row: ;
    font-size: 60px;
    text-align: center;
    color: rgb(250, 131, 203);
    text-shadow: 1px 1px 5px rgb(0, 0, 0), 0 0 10px rgb(95, 0, 100), 0 0 7.5px rgb(51, 0, 50);
    padding: 60px 10px 10px 130px;
    margin: 0px 100px 20px 0px;
    background-image: url("comic.png");
    background-repeat: no-repeat;
    background-size: 1000px 700px;
}

.navbar-1{
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-column: ;
    grid-row: ;
    padding: 15px;
    border: 5px solid black;
    margin: 1em 10px 0em 0.8em;
    background-image: url("navbar.jfif");
    font-size: 100px;
}

.b-nav{
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 15px;
    background-color: white;
    line-height: 120px;
    text-decoration: none;
    color: rgb(250, 131, 203);
    text-shadow: 1px 1px 5px black, 0 0 10px blue, 0 0 7.5px darkblue;
}

.a-body{
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    background-color: white;
    font-family: Comic Sans MS;
}

.aphoto{
    height: 150px;
    width: 150px;
    margin: 0em;
    grid-column: ;
    grid-row: ;
}

.content-container{
    width: 16em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 5em;
}

.ant-container{
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-column: 1;
    grid-row: 1;
    margin: 30px;
}

.ant-photo{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.ant-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.apple-container{
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-column: 3;
    grid-row: 1;
    margin: 30px;
}

.apple-photo{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.apple-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.airplane-container{
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-column: 2;
    grid-row: 2;
    margin: 30px;
}

.airplane-photo{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.airplane-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.arrow-container{
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-column: 1;
    grid-row: 3;
    margin: 30px;
}

.arrow-photo{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.arrow-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.acorn-container{
    width: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-column: 3;
    grid-row: 3;
    margin: 30px;
}

.acorn-photo{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.acorn-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

.button-container{
    width: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 3em 0em 10em;
}

.prev{
    background-color: rgb(250, 131, 203);
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    padding: 15px;
    border: ;
    border-radius: 20%;
    margin: 1em;
}

.home{
    background-color: rgb(250, 131, 203);
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    padding: 15px;
    border: ;
    border-radius: 20%;
    margin: 1em;
}

.next{
    background-color: rgb(250, 131, 203);
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    padding: 15px;
    border: ;
    border-radius: 20%;
    margin: 1em;
}
